#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}


#greeting-container {
  margin-top: 20px;
}

#selfie{
    width: 200px;
}

#header{
  display: flex;
}

#header-right{
}

/*#introduction{
  display: block;
}

#explanation{
  display: block;
}

*/