
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

body{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#greeting-container {
  margin-top: 20px;
}

#selfie{
    width: 200px;
}

#header{
  display: flex;
}

#header-right{
  padding-left: 10px;
}

#introduction{
  margin: 0px;
}
